*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: pink;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.toplogo{
    text-align: center;
    margin: 30px;
}

.mainlogo{
    text-align: center;
    margin: 30px;
}